DEBUG='True'
HOST='0.0.0.0'
PORT='8000'

DB_TYPE='pgsql'
DB_HOST='127.0.0.1'
DB_NAME=''
DB_USER=''
DB_PASS=''

REDIS_HOST='127.0.0.1'
REDIS_PORT=6379

BANNER_ZONE_ID_FOR_MOBILE='number,number'
REVIVE_HOST=''

BASIC_AUTH='basic THE_KEY'
